@model List<Project.AndroidIosApp.Dtos.DeviceDtos.GetDeviceDto>

<div class="popular__product">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="section-title">
                <h4>Highest Total Score</h4>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="btn__all">
                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.Take(6))
        {
            if (item.Status)
            {
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl">
                            <div class="ep">@item.OS.Definition</div>
                            <div class="comment"><i class="fa-solid fa-star"></i> @item.TotalScore</div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>@item.DeviceType.Definition</li>
                            </ul>
                            <h5><a href="#">@item.DeviceName</a></h5>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>