@using X.PagedList
@using X.PagedList.Mvc.Core

@model IPagedList<Project.AndroidIosApp.Dtos.DeviceDtos.GetDeviceDto>

@{
    Layout = "_AdminLayout";
}

<!-- table section -->
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Devices</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <a href="/Admin/AdminDevice/Insert" class="btn btn-outline-info mb-2">Add New Device</a>
            <div class="table-responsive-sm">
                <table id="myTable" class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>DeviceName</th>
                            <th>CPU</th>
                            <th>GPU</th>
                            <th>MEM</th>
                            <th>UX</th>
                            <th>TotalScore</th>
                            <th>Price</th>
                            <th>ImageUrl</th>
                            <th>ReleaseYear</th>
                            <th>CreateDate</th>
                            <th>OS</th>
                            <th>DeviceType</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <td>@item.DeviceName</td>
                                <td>@item.CPU</td>
                                <td>@item.GPU</td>
                                <td>@item.MEM</td>
                                <td>@item.UX</td>
                                <td>@item.TotalScore</td>
                                <td>@item.Price</td>
                                <td>@item.ImageUrl</td>
                                <td>@item.ReleaseYear</td>
                                <td>@item.CreateDate</td>
                                <td>@item.OS.Definition</td>
                                <td>@item.DeviceType.Definition</td>
                                <td>@item.Status</td>
                                <td><a href="/Admin/AdminDevice/Update/@item.Id" class="btn btn-outline-success">Update</a></td>
                                <td><a href="/Admin/AdminDevice/Delete/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div style="margin-left:815px;">
                    @Html.PagedListPager(
                    (IPagedList)Model,
                    page => Url.Action("Index", new { page }),
                    new X.PagedList.Web.Common.PagedListRenderOptions
                    {
                    ContainerDivClasses = new[] { "navigation" },
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- table section -->
