@model CreateDeviceCommentModel

@{
    Layout = "_AdminLayout";
}

<link href="~/CustomStyle/AdminDeviceCommentStyleSheet.css" rel="stylesheet" />

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Adding New Device Comment Panel </p>
            <form asp-controller="AdminDeviceComment" asp-action="Insert" class="forms-sample" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea class="form-control" asp-for="@Model.Content"></textarea>
                </div>
                <div class="form-group">
                    <label>ProjectUser</label>
                    <br />
                    <input type="text" id="searchInput1" placeholder="Search...">
                    <br />
                    <select id="selectList1" class="classic" asp-items="@Model.ProjectUsers" asp-for="@Model.ProjectUserId">
                        <option value="0">Select a projectuser.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Device</label>
                    <br />
                    <input type="text" id="searchInput2" placeholder="Search...">
                    <br />
                    <select id="selectList2" class="classic" asp-items="@Model.Devices" asp-for="@Model.DeviceId">
                        <option id="option2" value="0">Select a device.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <div class="form-check d-flex flex-row justify-content-md-start">
                        <div>
                            <input class="form-check-input" id="radio1" type="radio" name="Status" value="true" @(Model.Status ? "checked" : "")>
                            <label for="radio1" class="form-check-label">Active</label>
                        </div>
                        <div class="ml-5">
                            <input class="form-check-input" id="radio2" type="radio" name="Status" value="false" @(Model.Status ? "" : "checked")>
                            <label for="radio2" class="form-check-label">Inactive</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <a href="/Admin/AdminDeviceComment/Index" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script>
    var input1 = document.getElementById('searchInput1');
    var options1 = document.getElementById('selectList1').getElementsByTagName('option');
    input1.addEventListener('keyup', function () {
        var filter = input1.value.toLowerCase();
        for (var i = 0; i < options1.length; i++) {
            var option1 = options1[i];
            if (option1.text.toLowerCase().indexOf(filter) > -1) {
                option1.style.display = '';
            } else {
                option1.style.display = 'none';
            }
        }
    });

    var input2 = document.getElementById('searchInput2');
    var options2 = document.getElementById('selectList2').getElementsByTagName('option');
    input2.addEventListener('keyup', function () {
        var filter = input2.value.toLowerCase();
        for (var i = 0; i < options2.length; i++) {
            var option2 = options2[i];
            if (option2.text.toLowerCase().indexOf(filter) > -1) {
                option2.style.display = '';
            } else {
                option2.style.display = 'none';
            }
        }
    });
</script>