@model CreateDeviceCommentModel

@{
    Layout = "_AdminLayout";
}

<link href="~/CustomStyle/AdminDeviceCommentStyleSheet.css" rel="stylesheet" />

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Adding New Device Comment Panel </p>
            <form asp-controller="AdminDeviceComment" asp-action="Insert" class="forms-sample" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Content</label>
                    <input type="text" class="form-control" asp-for="@Model.Content">
                </div>
                <div class="form-group">
                    <label>ProjectUser</label>
                    <br />
                    <select class="classic" asp-items="@Model.ProjectUsers" asp-for="@Model.ProjectUserId">
                        <option value="0">Select a projectuser.</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>ProjectUser</label>
                    <br />
                    <select class="classic" asp-items="@Model.Devices" asp-for="@Model.DeviceId">
                        <option value="0">Select a device.</option>
                    </select>
                </div>
                 <div class="form-group">
                    <label>Status</label>
                    <div class="form-check d-flex flex-row justify-content-md-start">
                        <div>
                            <input class="form-check-input" id="radio1" type="radio" name="Status" value="true" @(Model.Status ? "checked" : "")>
                            <label for="radio1" class="form-check-label">Active</label>
                        </div>
                        <div class="ml-5">
                            <input class="form-check-input" id="radio2" type="radio" name="Status" value="false" @(Model.Status ? "" : "checked")>
                            <label for="radio2" class="form-check-label">Inactive</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <a href="/Admin/AdminDeviceComment/Index" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>