@model Project.AndoridIosApp.UI.Models.UserCreateModel
@{
    Layout = "_AdminLayout";
}

<link href="~/CustomStyle/AdminDeviceCommentStyleSheet.css" rel="stylesheet" />

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Adding New ProjectUser Panel </p>
            <form asp-controller="AdminProjectUser" asp-action="Insert" class="forms-sample" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" asp-for="@Model.Username">
                </div>
                <div class="form-group">
                    <label>Firstname</label>
                    <input type="text" class="form-control" asp-for="@Model.Firstname">
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <input type="text" class="form-control" asp-for="@Model.Lastname">
                </div>
                 <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" asp-for="@Model.Password">
                </div>
                 <div class="form-group">
                    <label>PasswordVerify</label>
                    <input type="password" class="form-control" asp-for="@Model.PasswordVerify">
                </div>
                 <div class="form-group">
                    <label>PhoneNumber</label>
                    <input type="number" class="form-control" asp-for="@Model.PhoneNumber">
                </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" asp-for="@Model.Email">
                </div>
                  <div class="form-group">
                    <label>ImageUrl</label>
                    <input type="file" class="form-control-file" asp-for="@Model.ImageUrl">
                </div>
                <div class="mb-3">
                    <label>Gender</label>
                    <br />
                    <select class="classic" asp-items="@Model.Genders" asp-for="@Model.GenderId">
                        <option value="0">Select a gender.</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <a href="/Admin/AdminProjectUser/Index" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>