<div class="row column1">
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa fa-user yellow_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.ProjectUsersCount</p>
                    <p class="head_couter">User</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa-solid fa-mobile blue1_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.DevicesCount</p>
                    <p class="head_couter">Device</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa-solid fa-comment green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.DeviceCommentsCount</p>
                    <p class="head_couter">Device Comment</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa-solid fa-blog red_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.BlogsCount</p>
                    <p class="head_couter">Blog</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="couter_icon">
                <div>
                    <i class="fa-solid fa-comment green_color"></i>
                </div>
            </div>
            <div class="counter_no">
                <div>
                    <p class="total_no">@ViewBag.BlogCommentsCount</p>
                    <p class="head_couter">Blog Comment</p>
                </div>
            </div>
        </div>
    </div>
</div>