@model List<Project.AndroidIosApp.Dtos.ContactDtos.GetContactDto>

@{
    Layout = "_AdminLayout";
}

<!-- table section -->
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Contacts</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <a href="/Admin/AdminContact/Insert" class="btn btn-outline-info mb-2">Add New Contact</a>
            <div class="table-responsive-sm">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Adress</th>
                            <th>Mail</th>
                            <th>Skype</th>
                            <th>Phone</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <td>@item.Title</td>
                                @if(item.Content.Length > 30)
                                {
                                    <td>@item.Content.Substring(0,30)...</td>
                                }
                                else
                                {
                                <td>@item.Content</td>
                                }
                                <td>@item.Adress</td>
                                <td>@item.Mail</td>
                                <td>@item.Skype</td>
                                <td>@item.Phone</td>
                                <td>@item.Status</td>
                                <td><a href="/Admin/AdminContact/Update/@item.Id" class="btn btn-outline-success">Update</a></td>
                                <td><a href="/Admin/AdminContact/Delete/@item.Id" class="btn btn-outline-danger">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- table section -->